article, br, section {
   text-align: center; 
   margin: 0 auto;
   padding: 0;
   width: 50%;
   font-weight: bolder;
}

br, section {
    width: 100%;
}

input, select, textarea {
    font-size: 125%;
    margin: 0.2em;
    padding: 0;
    }


iframe {
    margin: 0 auto;
    display: block;
}

h3 > a:hover {
    font-style: oblique;
}