article, br, section {
   text-align: center; 
   margin: 0 auto;
   padding: 0 0 2em 0;
   /* top right bottom left */
   width: 50%;
   font-weight: bolder;
}

br, section {
    width: 100%;
}

ol {
    padding-left: 2vw;
}

ol > li {
    text-align: left;
    margin: 0 auto;
}

article p {
    text-align: left;
}

li { 
    margin: 0;
    padding: 0;
    font-size: 1.25em;
}

h3 > a:hover {
    font-style: oblique;
}
article > a:hover {
    font-style: oblique;
}

form {
    box-shadow: 0.2vw 0.2vh 10px #888;
    margin: 0 auto;
    padding: 1%;
    width: 35vw;
    height: auto;
}



input, select, textarea {
    font-size: 1.25em;
    margin-top: 0;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 0;
    padding: 0;
    }

textarea {
    display: block;
    margin: 0 auto;
    resize: none;
    width: 100%;
}

input[type="submit"] {
    margin: 0.5% 0 0 0;
    padding: 0.1em;
}

#formheadline {
    /* top right bottom left */
    margin: -0.1em 0 -0.5em 0;
}

iframe {
    margin: 0 auto;
    display: block;
}

img {
    width: 30vw;
    height: auto;
}



