/* basic styling */
h1,h2,h3,h4 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    vertical-align: center;   
    font-family: Roboto;
    font-weight: bolder;
}

body {
    margin:0 auto;
    padding: 0;
    text-align: center;
    vertical-align: center;    
    position: relative;
    font-family: "Open Sans";
}

p { 
    margin: 0;
    padding: 1%;
    font-size: 125%;
}


h1 {
    font-size: 500%;
    margin-bottom: 2%;
    max-width: 30vw;
}

h2 {
    font-size: 250%;
    margin: 0 0 1% 0;
    color: #666666;
    /* top right bottom left */
}


h3 { 
    font-size: 180%;
    font-weight: bolder;
    margin-top: 1%;
}

h4 { 
    font-size: 200%;
    text-align: right;
}

.main-container {
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding: 0;
    min-height: 90vh;
    padding-bottom: 10%; /* height of footer */
}

/* header styling */
header {
    background-color: #cabbb7;
    height: 15vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 1vh 1vw;
    text-align: center;
    vertical-align: middle; 
}

#testid {
    float: left;
    width: 20%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
}

.divheadtext {
    float: left;
    padding: 0;
    margin: 3% auto 0 auto; /* appreantly best way to center vertically without flex */
    text-align: right; /* probably just fluf */
    vertical-align: middle; /* probably just fluf */
    width: 40%;
    height: auto;
}

.divheadimg {
    float: right;
    padding: 0;
    margin: 1% auto 0 auto; /* appreantly best way to center vertically without flex */
    text-align: center; /* probably just fluff, but added just in case */
    vertical-align: middle; /* probably just fluff, but added just in case */
    width: 40%;
    height: auto;

}

/* Could've made a simple class, but wanted to try it that way, same goes for footer image */
header .divheadimg img {
    width: 40%;
    height: auto;
}


/* navigation styling */
nav {
    text-align: right;
    margin: 0;
    margin-bottom: 2%;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10% 0 0;  
    overflow: hidden;
    background-color: #c65252; 
}
    
ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
    
ul li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    padding: 1vh 2vw;
    font-size: 200%;
    font-family: Roboto;
    font-weight: bolder;   
}
    
ul li a:hover { 
    background-color: #cabbb7;
}
    
#active-tab { background-color: #c88684; }


/*#active-tab { background-color: #c88684; }*/

/* Old navigation based on a nav+div ONLY
nav {
    overflow: hidden;
    width: 100%;
    background-color: #c65252;
    padding-right: 500px;
}
  
nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 200%;
    font-family: Roboto;
    font-weight: bolder;
}

.nav-right {
    float: right;
    margin-right: 5%;
}
  
nav a:hover { 
    background-color: #cabbb7; 
}
*/




/* main article styling */
#blog-wrapper, #second-wrapper {
    position: relative;
    text-align: center;
    /* height: 30vh; testing only */
    width: 75%;
    margin: 0 auto;
    padding: 1%;    
    text-align: center;
    vertical-align: middle;    
}


.divarticle {
    float: left;
    padding: 0;
    margin: 0 auto;
    text-align: center; /* probably just fluff, but added just in case */
    vertical-align: middle; /* probably just fluff, but added just in case */
    width: 50%;
    height: auto;
}


/*
not needed anymore!!!
#lead-article {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}*/

div[class="divarticle"] h3 {
    max-width: 23vw;
}


div[id="blog-wrapper"] img {
    width: 48vw;
    height: 26vh;
    margin: 0 auto;
    display: block;
} 

div[id="second-wrapper"] img { 
    width: 21vw;
    height: auto;
    margin: 0 auto;
    display: block;
}


/* footer stuff */
footer {
    background-color: #cabbb7;
    text-align: center;
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;   
    padding: 1%;
    font-size: 95%;
} 

footer img {
    width: 10%;
    margin: 0.2% auto;
}

